spring:
  application:
    name: crud-estudos

  profiles:
    active: test

---

# TEST (profile “test”)
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:crud
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
